* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #0c1228;
}

/*home page*/

.home {
	min-height: 100vh;
	width: 100%;
	position: relative;
	background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.9)),
		url("./images/home.jpg");
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.nav {
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 1% 4%;
	background: rgba(22, 34, 57, 0.95);
	z-index: 10;
}

.logo {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logoImg {
	min-height: 50px;
	width: 50px;
}

.logoTxt {
	color: #fff;
	text-decoration: none;
}

.logoTxt1 {
	margin-right: 18px;
	color: #f5a425;
	font-weight: bold;
	font-size: 30px;
}

.logoTxt2 {
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}

.navLinks {
	flex: 1;
	text-align: right;
}

.navLinks ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.navLinks ul li a {
	color: #fff;
	padding: 10px;
	border: 2px solid transparent;
	text-decoration: none;
	font-style: 13px;
}

.navLinks ul li a:hover {
	border-color: #f5a425;
	cursor: pointer;
	transition: 0.7s;
}

.homeContent {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.homeContent h1 {
	font-size: 62px;
}

.homeConTxt1 {
	color: #f5a425;
	margin-right: 25px;
}

.homeContent p {
	margin: 10px 0 10px;
	font-size: 20px;
	color: turquoise;
}

.homeBtn {
	display: inline-block;
	text-decoration: none;
	background: #f5a425;
	color: #fff;
	border: 1px solid #f5a425;
	padding: 12px 34px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}

nav .fa {
	display: none;
}

.navLinks ul {
	padding: 30px;
}

/*home page responsive*/

@media (max-width: 900px) {
	.homeContent h1 {
		font-size: 50px;
	}

	.homeContent p {
		font-size: 20px;
	}
	.navLinks ul li {
		display: block;
	}

	.navLinks {
		position: absolute;
		background: #0c1228;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	nav .fa {
		display: block;
		color: #fff;
		margin: 10px;
	}
}

@media (max-width: 500px) {
	.homeContent h1 {
		font-size: 40px;
	}

	.homeContent p {
		font-size: 18px;
	}
}

@media (max-width: 500px) {
	.homeContent h1 {
		font-size: 30px;
	}

	.homeContent p {
		font-size: 14px;
	}
}

@media (max-width: 400px) {
	.logoTxt1 {
		margin-right: 15px;
		font-size: 22px;
	}

	.logoTxt2 {
		font-size: 22px;
	}
}

/*home cards*/

.homeCards {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.homeCard {
	width: 350px;
	height: 80px;
	padding-top: 30px;
	background: #0c1228;
	text-align: center;
	color: #fff;
	font-size: 20px;
	transition: 1s;
}

.homeCard div {
	margin: 20px;
}

.homeCard p {
	margin: 20px 20px 10px 20px;
	font-size: 14px;
}

.homeCard i {
	margin-right: 20px;
}

.homeCard a {
	margin: 10px 20px 20px 20px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	border-bottom: 2px solid #fff;
}

.c1 {
	position: absolute;
	bottom: 0px;
	left: 20px;
	overflow: hidden;
}

.c1:hover {
	background: #f5a425;
	padding: 0 0 25% 0;
}

.c2 {
	position: absolute;
	bottom: 0;
	overflow: hidden;
}

.c2:hover {
	background: #f5a425;
	padding: 0 0 25% 0;
}

.c3 {
	position: absolute;
	bottom: 0px;
	right: 20px;
	overflow: hidden;
}

.c3:hover {
	background: #f5a425;
	padding: 0 0 25% 0;
}

/*home cards responsive*/

@media (max-width: 1100px) {
	.homeCards {
		flex-direction: column;
		padding: 5% 10%;
	}

	.homeCard {
		position: static;
		text-align: left;
		width: 100%;
	}

	.homeCard:hover {
		padding: 0 0 30% 0;
	}
}

@media (max-width: 820px) {
	.homeCard:hover {
		padding: 0 0 40% 0;
	}
}

@media (max-width: 720px) {
	.homeCard:hover {
		padding: 0 0 50% 0;
	}
}

@media (max-width: 620px) {
	.homeCard:hover {
		padding: 0 0 60% 0;
	}
}

@media (max-width: 520px) {
	.homeCards {
		padding: 4%;
	}

	.homeCard p,
	.homeCard div,
	.homeCard i,
	.homeCard a {
		margin: 10px 10px 5px 10px;
	}

	.homeCard:hover {
		padding: 0 0 70% 0;
	}
}

@media (max-width: 420px) {
	.homeCards {
		padding: 2%;
	}

	.homeCard p,
	.homeCard div,
	.homeCard i,
	.homeCard a {
		margin: 7px 7px 1px 7px;
	}

	.homeCard:hover {
		padding: 0 0 80% 0;
	}
}

@media (max-width: 320px) {
	.homeCard:hover {
		padding: 0 0 90% 0;
	}
}

/*about page*/

.about {
	width: 100%;
	min-height: 100vh;
	position: relative;
	background-color: #162238;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

.checkBoxes {
	display: flex;
	justify-content: space-around;
	margin-top: 80px;
}

.cb {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.cb h1 {
	font-size: 19px;
	color: #fff;
}

.cb input {
	display: none;
}

.cb label {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 25px;
	height: 25px;
	background: transparent;
}

.cb span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #fff;
	cursor: pointer;
}

#eh {
	color: #f5a425;
}

#el {
	border: 2px solid #f5a425;
}

/*checkboxes responsive*/

@media (max-width: 550px) {
	.cb h1 {
		font-size: 16px;
		color: #fff;
	}
}

@media (max-width: 400px) {
	.cb h1 {
		font-size: 14px;
		color: #fff;
	}
}

/*event content*/

.eventContent {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 15px;
	padding: 10px 250px 10px 100px;
	gap: 30px;
}

.eventImg {
	height: 400px;
	width: 400px;
}

.eventTxt h2 {
	color: #fff;
}

.eventTxt ul li {
	margin-top: 10px;
	color: #f5a425;
	font-size: 18px;
}

.eventTxt ol li {
	margin-left: 20px;
	color: #fff;
}

@media (max-width: 1000px) {
	.eventContent {
		justify-content: center;
		padding: 10px 100px;
	}
	.eventImg {
		display: none;
	}

	.eventTxt ul li {
		font-size: 25px;
	}
}

@media (max-width: 500px) {
	.eventContent {
		padding: 10px 70px;
	}

	.eventTxt ul li {
		font-size: 20px;
	}
}

@media (max-width: 380px) {
	.eventContent {
		padding: 10px 30px 0 30px;
	}

	.eventTxt ul li {
		font-size: 18px;
	}
}

/*register content*/

.registerContent {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
	padding: 30px 80px;
	gap: 30px;
}

.registerImg {
	height: 350px;
	width: 400px;
}

.registrationTxt {
	color: #fff;
}

.registrationTxt p {
	margin-top: 10px;
}

.registerBtn {
	display: inline-block;
	text-decoration: none;
	background: #f5a425;
	color: #fff;
	border: 1px solid #f5a425;
	padding: 12px 34px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}

@media (max-width: 1100px) {
	.registerContent {
		padding: 30px 70px;
	}
}

@media (max-width: 950px) {
	.registerContent {
		padding: 30px 50px;
	}

	.registerImg {
		height: 300px;
		width: 350px;
	}
}

@media (max-width: 870px) {
	.registerContent {
		flex-direction: column;
		padding: 30px 40px;
	}

	.registerImg {
		height: 300px;
		width: 520px;
	}
}

@media (max-width: 590px) {
	.registerContent {
		margin-top: 10px;
		padding: 20px 30px;
	}

	.registerImg {
		height: 275px;
		width: 475px;
	}

	.registrationTxt p {
		margin-top: 5px;
	}

	.registerBtn {
		margin-top: 10px;
	}
}

@media (max-width: 530px) {
	.registerContent {
		padding: 20px 20px;
	}

	.registerImg {
		height: 265px;
		width: 425px;
	}
}

@media (max-width: 470px) {
	.registerContent {
		padding: 20px 10px;
	}

	.registerImg {
		height: 260px;
		width: 380px;
	}
}

@media (max-width: 405px) {
	.registerImg {
		height: 250px;
		width: 330px;
	}
}

@media (max-width: 360px) {
	.registerImg {
		height: 250px;
		width: 310px;
	}
}

/*commitee content*/

.commiteeContent {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 15px;
	padding: 10px 150px 10px 50px;
	line-height: 1.4;
	gap: 30px;
}

.commiteeImg {
	height: 450px;
	width: 500px;
}

.commiteeTxt {
	/*	text-align: left;*/
	color: #fff;
}

.commiteeTxt h2 {
	color: #f5a425;
	font-size: 18px;
}

.commiteeTxt h3 {
	margin-left: 18px;
}

.commiteeTxt ol li {
	margin-left: 35px;
	font-size: 16px;
}

@media (max-width: 1060px) {
	.commiteeContent {
		padding: 10px 100px 10px 50px;
	}
}

@media (max-width: 1000px) {
	.commiteeContent {
		padding: 10px 30px;
		line-height: 1.3;
	}

	.commiteeImg {
		display: none;
	}

	.commiteeTxt ol li {
		font-size: 20px;
	}
}

@media (max-width: 450px) {
	.commiteeContent {
		padding: 10px 10px;
		line-height: normal;
	}

	.commiteeTxt ol li {
		font-size: 18px;
	}

	.commiteeTxt ol li {
		margin-left: 25px;
	}
}

@media (max-width: 370px) {
	.commiteeTxt ol li {
		font-size: 16px;
	}
}

@media (max-width: 340px) {
	.commiteeTxt ol li {
		font-size: 15px;
	}
}

.check {
	display: none;
}

/*event page*/

.event {
	position: relative;
	width: 100%;
	height: 100vh;
	/*  margin: auto;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #162238;
}

.eventHeading {
	z-index: 100;
	color: #f5a425;
}

.mySlides {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	position: relative;
	height: 510px;
	width: 80%;
	color: #fff;
	background: #2d384b;
	padding: 30px 15px 30px 30px;
	border-radius: 30px;
	display: flex;
	/*  flex-direction: column;*/
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.cardImg {
	display: block;
	border-radius: 10px;
	width: 50%;
	height: 100%;
	object-fit: cover;
}

.cardContent {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 3px;
	padding: 10px;
	line-height: 1.2;
	font-size: 15px;
}

.cardHeading {
	color: #f5a425;
	text-align: center;
}

.cardSubHeading {
	font-weight: bold;
	color: #f5a425;
	margin-top: 10px;
}

.cardSubHeading span {
	color: #fff;
}

.cardContent p,
.cardContent h4,
.cardContent li {
	list-style: none;
	margin-top: 3px;
	margin-left: 20px;
}

.cardContent h4 {
	margin-left: 15px;
}

.pageNumber {
	position: absolute;
	right: 20px;
	bottom: 20px;
	text-align: right;
}

.eventBtn {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.prev,
.next {
	cursor: pointer;
	padding: 16px;
	color: #f5a425;
	font-weight: bold;
	font-size: 35px;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/*.prev,
.next {
  background-color: rgba(0, 0, 0, 0.8);
}*/

.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #f5a425;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.carousel {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 5px;
}
.check {
	display: none;
}

@media (max-width: 1200px) {
	.card {
		padding: 30px 0px 30px 30px;
	}
}

@media (max-width: 1100px) {
	.eventHeading {
		visibility: hidden;
	}
}

@media (max-width: 1000px) {
	.card {
		padding: 30px 15px 30px 30px;
		gap: 10;
	}
	.cardContent {
		/*    line-height: 1;*/
		gap: 3px;
	}
}

@media (max-width: 880px) {
	.card {
		width: 700px;
	}
}

@media (max-width: 800px) {
	.card {
		display: block;
		padding: 15px 15px 10px 15px;
		height: 550px;
		width: 500px;
		gap: 0;
	}

	.cardImg {
		display: block;
		width: 100%;
		height: 180px;
		object-fit: cover;
	}

	.cardContent {
		line-height: 1;
		width: 100%;
		height: 325px;
		gap: 0;
	}
}

@media (max-width: 600px) {
	.card {
		width: 400px;
	}

	.cardImg {
		height: 160px;
	}
}

@media (max-width: 490px) {
	.card {
		width: 310px;
	}

	.cardImg {
		height: 140px;
	}

	.cardContent {
		padding: 10px 0px 10px 0;
		line-height: 1;
	}

	.cardSubHeading {
		margin-top: 5px;
	}

	.prev,
	.next {
		padding: 0;
	}
}

/*contact page*/

.contact {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: #162238;
}

.contactCard {
	width: 80%;
	height: 450px;
	border-radius: 30px;
	background: #2d384b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	gap: 30px;
}

.contactImg {
	width: 50%;
	height: 100%;
	border-radius: 20px;
}

.contactImg img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.contactContent {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	color: #fff;
}

.contactContent h1 {
	color: #f5a425;
	margin-top: 20px;
}

.contactContent div {
	margin-left: 20px;
}

@media (max-width: 950px) {
	.contactCard {
		flex-direction: column;
	}

	.contactImg {
		display: none;
	}

	.contactContent {
		width: 100%;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 520px) {
	.contactCard {
		padding: 10px;
		width: 80%;
		height: 380px;
	}

	.contactContent div {
		margin-left: 10px;
	}
}

@media (max-width: 450px) {
	.contactCard {
		padding: 5px 0 5px 5px;
	}

	.contactContent div {
		margin-left: 5px;
		font-size: 14px;
	}
	.contactContent h1 {
		font-size: 25px;
	}
}